.note-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 208, 84);
    min-height: 220px;
    padding: 1rem;
    border-radius: 12px;
    justify-content: space-between;
    white-space: pre-wrap;
    box-shadow: 0px 17px 13px -10px rgba(0,0,0,0.61);
}

.note-body span{
    font-size: 13px;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.note-footer span{
    font-size: 14px;
}

.note-footer svg{
    cursor: pointer;
}