.note-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 106);
    min-height: 260px;
    padding: 1rem;
    border-radius: 12px;
    justify-content: space-between;
    white-space: pre-wrap;
    box-shadow: 0px 17px 13px -10px rgba(0,0,0,0.61);
}

.note-corner-icon{
    display: flex;
    justify-content: flex-end;
}
.note-title{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.note-body {
    line-break: auto;
}

.note-body span{
    font-size: 13px;
}

.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.note-footer span{
    font-size: 12px;
    font-weight: bold;
}


.note-title input{
    background-color: rgb(245, 245, 106);
    border: none;
    width: 100%;
    padding: 1rem 0 1rem 0rem;
    font-size:19px;
    font-weight: bold;
}

.note-title input::placeholder{
    font-weight: bold;
}

.note-title input:focus{
    outline: none;
}


.note-body textarea{
    background-color: rgb(245, 245, 106);
    border: none;
    resize: none;
    width: 100%;
    font-size: 13px;
}

.note-body textarea:focus{
  outline: none;
}


.note-footer-icon{
    display: flex;
    justify-content: flex-end;
}

.note-container svg{
    cursor: pointer;
}
