*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: #d5eeff;
  font-family: 'Fira Sans Condensed', sans-serif;
  margin-bottom: 2rem;

}

.container{
  padding:0 1rem 0 1rem;
}