.search-bar{
    position: relative;
}

.search-bar input{
    padding: 0.8rem 0.8rem 0.8rem 1.8rem;
    border-radius: 10px;
    border: none;
}

.search-bar svg{
    position: absolute;
    top: 13px;
    right: 165px;
}
